body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
input.cost, input.count {
    text-align:right;
    width:5em;
    margin-right:1em;
}
td.calculatedVal {
    padding-right:1em;
}
#purchaseTable td.bool {
    text-align:center;
}
#purchaseTable th{
    white-space:nowrap;
    text-align:center;
    padding:0 1em;
}
#purchaseTable td{
    white-space:nowrap;
    text-align:right;
}
#purchaseTable th.unpadded{
    padding:0;
}
td.rowErrorMarker{
    font-weight:bold;
    color:orangered;
}
input:focus {border: 1px solid #5579A9;box-shadow: 0px 0px 4px 0px #6FA5ED;}
.has-error {border: 3px groove red; color:orangered; font-weight:bold;}

#dpholder{
    display:inline-block;
}

.disabled_anchor, .disabled_anchor:hover {
    color: gray;
    cursor:default;
    text-decoration:none;
}